/* Add additional stylesheets below
-------------------------------------------------- */

html, body{
    padding: 5px;
    height: 90%;
}
.header {
 overflow: hidden;
 background-color: #f1f1f1;
 padding: 20px 10px;
}

/* Style the header links */
.header a {
 width:100%
 float: left;
 color: black;
 text-align: center;
 padding: 12px;
 text-decoration: none;
 font-size: 18px;
 line-height: 25px;
 border-radius: 4px;

}
.header a:hover {
 background-color: #ddd;
 color: black;
}
.header-right {
  float: right;
}

body {
    background-image: url("BATTSHIPSVS.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50px;
    background-color: #EA2043
}

footer{
    display: none;
}

hr{
    display: none;
}

.container {
    height: 100%;
    width: 100%;
}

#gameBox{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-basis: auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

.board table {
    margin: 0 auto;
}

.board {
    width: 45%;
    display: block;
}

#playerBox{
    align-self: flex-end;
}

#opponentBox {
    align-self: flex-start;
}

#opponent {

}

#toolbar {
}

.battleGrid {
    border-spacing: 0px;
    flex: 0 1 auto;
    padding: 30px;
}

.battleGrid tr {
    border: 2px solid black;
    height: 45px;
}

.battleGrid td {
    border: 2px solid black;
    width: 45px;
}

td {
    background-color: gray;
}

td:hover {
    background-color: white;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}