/* Add additional stylesheets below
-------------------------------------------------- */

html, body{
    padding: 5px;
    height: 90%;
}
.header {
    background-color: white;
    width: 82%;
    overflow: hidden;
    padding: 20px 10px;
    border: 5px solid black;
}

/* Style the header links */
.header a {

 float: left;
 color: black;
 text-align: center;
 padding: 12px;
 text-decoration: none;
 font-size: 25px;
 line-height: 20px;
 line-height: 40px;
 border: 5px solid black;
}
.header a:hover {
 background-color: #ddd;
 color: black;
 cursor: pointer;
}
.header-right {
  float: right;
}

body {
    background-image: url("BATTSHIPSVS.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50px;
    background-color: #EA2043;
}

footer{
    display: none;
}

hr{
    display: none;
}

.container {
    height: 100%;
    width: 100%;
}

#gameBox{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-basis: auto;
    text-align: center;
    width: 87%;
    height: 90%;
}

.board table {
    margin: 0 auto;
}

.board {
    width: 45%;
    display: block;
}

#playerBox{
    align-self: flex-end;
}

#opponentBox {
    align-self: flex-start;
}

#opponent {

}

#toolbar {
}

.battleGrid {
    border-spacing: 0px;
    flex: 0 1 auto;
    padding: 30px;
}

.battleGrid tr {
    border: 2px solid black;
    height: 45px;
}

.battleGrid td {
    border: 2px solid black;
    width: 45px;
}

td {
    background-color: gray;
}

td:hover {
    background-color: white;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}
.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    border: 5px solid black;
}

.sidenav button {
    cursor: pointer;
    width: 100%;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    background-color: white;
    display: block;
    border-bottom: 5px solid black;
}
#vert {
    color: red;
}
.sidenav a:hover {
    color: #f1f1f1;
}