/* Add additional stylesheets below
-------------------------------------------------- */

html, body{
    margin: 5px;
    height: 95%;
}

footer{
    display: none;
}

hr{
    display: none;
}
.container{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100%;
}

#player{
    align-self: flex-end;
}

.battleGrid {
    border-spacing: 0px;
    flex: 0 1 auto;
    padding: 30px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}