<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div class="header">
    <h1>BATTLESHIP</h1>
    <div class="header-right">
        <a class="active" href="#home">New Game</a>
        <a id="reload" onclick="reloadfunc()">Click me.</a>
    </div>
</div>



<div id="gameBox">
    <div id="opponentBox" class="board">
        <table id="opponent" class="battleGrid">
        </table>
    </div>

    <div id="playerBox" class="board">
        <table id="player" class="battleGrid">
        </table>
    </div>

    <div id="toolbar">
        <ul>
            <li><button id="place_minesweeper">Place Minesweeper</button></li>
            <li><button id="place_destroyer">Place Destroyer</button></li>
            <li><button id="place_battleship">Place Battleship</button></li>
            <li><input type="checkbox" id="is_vertical">Vertical</input></li>
        </ul>
    </div>

    <script type="text/javascript" src="/assets/game.js"></script>
</div>

<script>
    initGame();
</script>

</@layout.myLayout>