<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div class="header">
    <h1>BATTLESHIP</h1>
    <div class="header-right">
        <a class="active" onclick="reloadfunc()">New Game</a>
    </div>
</div>

<div class="sidenav">
    <button id="place_minesweeper">Place MS</button>
    <button id="place_destroyer">Place DE</button>
    <button id="place_battleship">Place BS</button>
    <button id="vert" onclick="changeVertical()">Vertical</button>
</div>

<div id="gameBox">
    <div id="opponentBox" class="board">
        <table id="opponent" class="battleGrid">
        </table>
    </div>

    <div id="playerBox" class="board">
        <table id="player" class="battleGrid">
        </table>
    </div>

    <script type="text/javascript" src="/assets/game.js"></script>
</div>

<script>
    initGame();
</script>
</@layout.myLayout>
